/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  width: 100%;
  height: 100%;
}

main {
  background: gold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#eaten {
  height: 300px;
  width: 300px;
  border: 4px solid chocolate;
}

.devour {
  background: transparent;
  outline: none;
  border: 4px solid white;
  height: 45px;
  width: 50px;
  cursor: pointer;
  font-family: 'Poppins';
}

ul {
  text-align: center;
}

form {
  margin-left: 20px;
}

input {
  height: 30px;
  outline: none;
  border: none;
  padding-left: 10px;
}

input[type='submit'] {
  border: 2px solid white;
  background: transparent;
  width: 60px;
  cursor: pointer;
  padding-left: 0px;
}

.burger img {
  height: 50px;
  width: 50px !important;
}

#added {
  height: 300px;
  width: 300px;
  border: 4px solid chocolate;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.burger {
  width: 100%;
}

.burger * {
  display: inline-block;
  width: 33%;
  height: 100%;
  border: 2px solid red;

}